<!-- templates/sidebar.html -->
<div class="bg-dark sidebar">
    <h4 class="text-center text-white py-3">Pizzaria</h4>
    <a href="{% url 'combos' %}">🍕 Promoção</a>
    <a href="{% url 'entrada' %}">😋 Entrada</a>
    <a href="{% url 'menu' %}">🍕 Pizza</a>
    <a href="{% url 'lanches' %}">🍔 Lanches</a>
    <a href="{% url 'artesanais' %}">🍔 Artesanal</a>
    <a href="{% url 'bebidas' %}">🥤 Bebidas</a>
    <a href="{% url 'espeto' %}">🍖 Restaurante</a>
    <a href="{% url 'carrinho' %}">🛒 Carrinho</a>
    <a class="nav-link" href="{% url 'relatorio_vendas' %}">📊 Relatórios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{% url 'logout' %}">🚪 Sair ({{ user.username }})</a>
            </li>
        </ul>
    </div>
</nav>