{% extends '../componentes/base.html' %}

{% block content %}
<!-- Conteúdo Principal -->
<div class="flex-grow-1 p-4">
    <!-- <h1>Bem-vindo ao Sistema!</h1> -->
    <div class="container mt-4">
        <h1 class="text-center mb-4">Combos</h1>

        <div class="text-end mb-4">
            <a href="{% url 'carrinho' %}" class="btn btn-primary">
                🛒 Ver Carrinho
            </a>
        </div>

        <div class="row">
            <h2 class="text-center">Escolha o Tamanho da Pizza</h2>
            <div class="row mt-4">
                {% for tamanho in tamanhos %}

                <div class="col-md-3">
                    <div class="card text-center h-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h4 class="card-title">{{ tamanho }}</h4>
                            <input type="hidden" name="preco" value="{{ tamanho.preco }}">
                            <a href="{% url 'combos_sabores' tamanho.nome tamanho.preco %}"
                                class="btn btn-primary mt-3">Escolher
                                Sabores</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>
</div>
{% endblock %}